loguru
rich_argparse
tabulate
expand_folders
cognite-sdk
scikit-learn
atlas-mpl-style
pytorch_lightning
matplotlib
seaborn
jupyterlab
numpy
pandas
tqdm
prettytable
fastapi
uvicorn
sqlalchemy
psycopg2-binary
dash
dash-bootstrap-components
python-multipart
dash-cytoscape
sktime
mlflow
git+https://github.com/lps-ufrj-br/maestro-lightning.git
